{
  "extends": "standard",
  "plugins": [
    "jasmine"
  ],
  "env": {
    "jasmine": true
  },
  "globals": {
    "atom": "readonly",
    "waitsForPromise": "readonly"
  },
  "rules": {
    "no-new": "off"
  }
}
