'.source.agk':
  'editor':
    'increaseIndentPattern': '(?xi)
      ^\\s*
      (
        function.+\\(.*\\)\\s*$
        | \\bif\\b(?!.*?then)
        | \\b(for|repeat|while|select|case|do|else|elseif|type)\\b
      )'
    'decreaseIndentPattern': '(?i)^\\s*(\\b(else|elseif|endif|until|endwhile|endfunction|endselect|endcase|next|loop|endtype)\\b)$'
